<div class="wv-submenu" [ngClass]="{ 'is-hidden': !menuService.showSideBar || !submenu.expanded }">
    <ul class="flex flex-col gap-0.5">
        @for (sub of submenu.children; track sub) {
        <li>
            <div (click)="toggleMenu(sub)">
                <ng-container [ngTemplateOutlet]="sub.children ? childMenu : parentMenu"
                    [ngTemplateOutletContext]="{ sub: sub }">
                </ng-container>

                <ng-template #parentMenu let-sub="sub">
                    <a [routerLink]="sub.route" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }"
                        class="wv-sub-link">
                        {{ sub.label }}
                    </a>
                </ng-template>

                <ng-template #childMenu let-sub="sub">
                    <a class="wv-sub-link cursor-pointer">{{ sub.label }}</a>
                </ng-template>
            </div>

            @if (sub.children?.length) {
            <app-sidebar-submenu [submenu]="sub"></app-sidebar-submenu>
            }
        </li>
        }
    </ul>
</div>